node_modules
client/bower_components/
client/_build/
.classpath
.idea
.project
rvc.iml
rvc.war
war/assets
war/WEB-INF/classes/
/bin
/.settings
/.springBeans
.c9revisions
vrmAccess.json
/logs/*.*
.DS_Store
client/npm-debug.log
