.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#', ng-click="goHome()") All-JS Test
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-repeat="tab in tabs", ng-class="{'active': tab.active === true}", ng-click="changeState($index)")
            a(ui-sref='.{{tab.label | lowercase}}') {{tab.label}}		
            // a(ui-sref='#') {{tab.label}}		
    // /.nav-collapse
.container(ui-view="content")
  .row
    div.col-sm-8.col-sm-offset-2
      div.alert.alert-info.text-center(role="alert") Welcome home!
// /.container
